{% extends "dashboard/base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Product List</h1>
     <a href="{% url 'product_create' %}" class="btn btn-primary">Add Product</a>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
<!--        <th scope="col">Description</th>-->
        <th scope="col">Price</th>
        <th scope="col">Offer</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for product in products %}
    <tr>
        <th scope="row">{{ product.id }}</th>
        <td><img src="{{ product.thumbnail.url }}" style="width:50px;height:50px;" alt="{{ product.name }}" class="card-img-top"></td>
        <td>{{ product.name }}</td>
        <td><span class="badge bg-warning">{{ product.category.name }}</span></td>
<!--        <td>{{ product.description }}</td>-->
        <td>{{ product.price }}</td>
        <td>{{ product.offer }}</td>
        <td> <a href="#" class="btn btn-outline-primary">view</a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}